### Dependencies

In [25]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

### Data Preprocessing

In [26]:
# Once Data is cleaned, the code for preprocessing, loading the data will go here! '
# Importing cleaned data into dataframe
oil_prices_df = pd.read_csv("Resources_Clean/brent_oil_prices.csv")
electric_car_data_df = pd.read_csv("Resources_Clean/ecar_data_clean_me.csv")
electric_car_sales_df = pd.read_csv("Resources_Clean/ecar_sales_by_model_in_usa.csv")
charging_stations_df = pd.read_csv("Resources_Clean/ev_charging_stations.csv")

In [27]:
# Check and Drop Null Values
oil_prices_df.isnull().sum()

Unnamed: 0    0
date          0
price         0
dtype: int64

In [28]:
electric_car_data_df.isnull().sum()

Unnamed: 0          0
brand               0
model               0
accel_sec           0
top_speed_kmh       0
range_km            0
battery_pack_kwh    0
efficiency_whkm     0
fast_charge_kmh     0
rapid_charge        0
power_train         0
plug_type           0
body_style          0
price_euro          0
dtype: int64

In [29]:
electric_car_sales_df.isnull().sum()

Unnamed: 0     0
make           0
model          0
jan_12        45
feb_12        52
              ..
aug_19         1
sep_19         1
oct_19         1
nov_19         1
dec_19         0
Length: 99, dtype: int64

In [30]:
# Filling Null Values with 0 and checking
electric_car_sales_df.fillna(value = 0, inplace = True)
electric_car_sales_df.isnull().sum()

Unnamed: 0    0
make          0
model         0
jan_12        0
feb_12        0
             ..
aug_19        0
sep_19        0
oct_19        0
nov_19        0
dec_19        0
Length: 99, dtype: int64

In [31]:
charging_stations_df.isnull().sum()

Unnamed: 0          0
station_name        0
street_address      0
city                0
access_days_time    0
dtype: int64

### Splitting The Data into Training and Testing

In [32]:
# Filtering Oil price data
new_oil_prices_df = oil_prices_df.loc[(oil_prices_df['date'] > "2011-12")]
new_oil_prices_df
new_oil_prices_df['row_num'] = np.arange(len(new_oil_prices_df))
new_oil_prices_df = new_oil_prices_df.drop(labels=range(392, 405))
new_oil_prices_df = new_oil_prices_df.drop(labels=range(296,335))
new_oil_prices_df

C:\Users\JackM\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     Unnamed: 0     date      price  row_num
335         335  2015-04  59.524286       39
336         336  2015-05  64.075000       40
337         337  2015-06  61.477727       41
338         338  2015-07  56.561304       42
339         339  2015-08  46.515000       43
340         340  2015-09  47.623182       44
341         341  2015-10  48.430000       45
342         342  2015-11  44.267619       46
343         343  2015-12  38.005455       47
344         344  2016-01  30.699500       48
345         345  2016-02  32.181500       49
346         346  2016-03  38.210455       50
347         347  2016-04  41.583333       51
348         348  2016-05  46.742381       52
349         349  2016-06  48.247273       53
350         350  2016-07  44.951905       54
351         351  2016-08  45.843043       55
352         352  2016-09  46.567727       56
353         353  2016-10  49.522381       57
354         354  2016-11  44.734091       58
355         355  2016-12  53.308500       59
356         356  2017-01  54.576667       60
357         357  2017-02  54.869500       61
358         358  2017-03  51.589130       62
359         359  2017-04  52.307895       63
360         360  2017-05  50.326522       64
361         361  2017-06  46.368182       65
362         362  2017-07  48.478571       66
363         363  2017-08  51.704348       67
364         364  2017-09  56.152857       68
365         365  2017-10  57.507727       69
366         366  2017-11  62.714091       70
367         367  2017-12  64.373684       71
368         368  2018-01  69.077273       72
369         369  2018-02  65.317500       73
370         370  2018-03  66.016667       74
371         371  2018-04  72.106000       75
372         372  2018-05  76.975238       76
373         373  2018-06  74.404762       77
374         374  2018-07  74.254091       78
375         375  2018-08  72.528261       79
376         376  2018-09  78.891000       80
377         377  2018-10  81.032174       81
378         378  2018-11  64.748182       82
379         379  2018-12  57.362353       83
380         380  2019-01  59.409545       84
381         381  2019-02  63.960500       85
382         382  2019-03  66.138571       86
383         383  2019-04  71.233333       87
384         384  2019-05  71.317727       88
385         385  2019-06  64.220500       89
386         386  2019-07  63.919130       90
387         387  2019-08  59.041818       91
388         388  2019-09  62.826667       92
389         389  2019-10  59.713043       93
390         390  2019-11  63.211905       94
391         391  2019-12  67.310000       95

In [33]:
new_oil_prices_df.shape

(57, 4)

In [34]:
new_electric_car_sales_df = electric_car_sales_df.drop(columns=['make', 'model'], axis =1) 
new_electric_car_sales_df

,Unnamed: 0,jan_12,feb_12,mar_12,apr_12,may_12,jun_12,jul_12,aug_12,sep_12,...,mar_19,apr_19,may_19,jun_19,jul_19,aug_19,sep_19,oct_19,nov_19,dec_19
0,0,603.0,1626.0,3915.0,5377.0,7057.0,8817.0,10666.0,13497.0,16348.0,...,146667.0,147072.0,14748.0,147813.0,148063.0,148337.0,148687.0,148757.0,148907.0,149057
1,1,0.0,21.0,912.0,2566.0,3652.0,4347.0,5035.0,6082.0,7734.0,...,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345
2,2,676.0,1154.0,1733.0,2103.0,2613.0,3148.0,3543.0,4228.0,5212.0,...,122534.0,123485.0,124701.0,125857.0,126795.0,127912.0,12896.0,129847.0,130987.0,132214
3,3,0.0,0.0,0.0,0.0,0.0,12.0,31.0,74.0,160.0,...,147517.0,148342.0,149367.0,151117.0,152092.0,153142.0,154242.0,154992.0,156492.0,157992
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231
5,5,2.0,2.0,2.0,2.0,8.0,97.0,135.0,169.0,228.0,...,9242.0,9242.0,9242.0,9242.0,9242.0,9242.0,9242.0,9242.0,9242.0,9242
6,6,36.0,80.0,136.0,215.0,300.0,333.0,366.0,403.0,439.0,...,2028.0,2028.0,2028.0,2028.0,2028.0,2028.0,2028.0,2028.0,2028.0,2028
7,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0,...,2472.0,2472.0,2472.0,2472.0,2472.0,2472.0,2472.0,2472.0,2472.0,2472
8,8,0.0,0.0,0.0,0.0,0.0,0.0,7.0,16.0,32.0,...,1069.0,1069.0,1069.0,1069.0,1069.0,1069.0,1069.0,1069.0,1069.0,1069
9,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,62774.0,63359.0,63964.0,64639.0,65359.0,65979.0,66679.0,67279.0,67879.0,68557
10,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26788.0,26808.0,26868.0,26893.0,26933.0,26978.0,27018.0,27068.0,27118.0,27211
11,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7555.0,7640.0,7746.0,782.0,7876.0,795.0,8004.0,8004.0,8004.0,8004
12,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7369.0,7369.0,7369.0,7369.0,7369.0,7369.0,7369.0,7369.0,7369.0,7369
13,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1039.0,1039.0,1039.0,1039.0,1039.0,1039.0,1039.0,1039.0,1039.0,1039
14,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4324.0,4479.0,4649.0,4844.0,5009.0,5174.0,5349.0,5522.0,5695.0,5879
15,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2891.0,2891.0,2891.0,2891.0,2891.0,2891.0,2891.0,2891.0,2891.0,2891
16,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38098.0,38429.0,38868.0,39341.0,39645.0,4003.0,40497.0,40856.0,41774.0,41988
17,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2197.0,2234.0,2319.0,2363.0,2403.0,2453.0,2483.0,2508.0,2543.0,2563
18,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4194.0,4195.0,4195.0,4197.0,4198.0,4199.0,4199.0,4200.0,4200.0,4200
19,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5835.0,5922.0,6067.0,6347.0,6448.0,6538.0,6606.0,667.0,6725.0,6776
20,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6396.0,6396.0,6397.0,6397.0,6398.0,6406.0,6471.0,6476.0,6479.0,648
21,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14277.0,14677.0,14941.0,15307.0,15767.0,16456.0,1701.0,17647.0,18013.0,18277
22,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6185.0,6255.0,636.0,6435.0,653.0,663.0,6735.0,6835.0,694.0,705
23,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16805.0,16814.0,16818.0,16826.0,1683.0,16832.0,16833.0,16835.0,16836.0,16837
24,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69702.0,70752.0,72127.0,74852.0,76077.0,77902.0,79577.0,81077.0,83077.0,85077
25,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,203.0,203.0,203.0,203.0,203.0,203.0,203.0,203.0,203.0,203
26,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6332.0,6378.0,6418.0,6448.0,6483.0,6523.0,6568.0,6614.0,6659.0,6713
27,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1470.0,1505.0,1556.0,1616.0,1666.0,169.0,1706.0,1759.0,1784.0,1801
28,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6039.0,6139.0,6259.0,6429.0,6539.0,6664.0,6839.0,6839.0,6839.0,6839
29,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10233.0,10240.0,10240.0,10240.0,10240.0,10240.0,10240.0,10240.0,10240.0,10240
30,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35
31,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55101.0,56500.0,58414.0,59558.0,62508.0,65008.0,66658.0,68976.0,71766.0,74583
32,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8187.0,8240.0,8267.0,8292.0,8308.0,8313.0,8315.0,832.0,8326.0,8330
33,33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46211.0,47121.0,48517.0,50176.0,51161.0,52881.0,55006.0,56313.0,57313.0,58313
34,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1957.0,2107.0,2292.0,2472.0,2642.0,2747.0,2812.0,2991.0,3101.0,3169
35,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3129.0,3302.0,3517.0,3752.0,3982.0,4172.0,4302.0,4544.0,4744.0,4881
36,36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1104.0,1112.0,1124.0,113.0,1132.0,114.0,1145.0,1149.0,1153.0,1156
37,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13067.0,13414.0,13804.0,14195.0,1458.0,14975.0,1539.0,1599.0,1659.0,17382
38,38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13662.0,14078.0,14805.0,15713.0,16157.0,16763.0,17073.0,17378.0,17799.0,18298
39,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,163971.0,174021.0,187971.0,209196.0,221746.0,234096.0,253196.0,270471.0,285471.0,300471
40,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2526.0,2531.0,2531.0,2582.0,2617.0,2652.0,2702.0,2738.0,2770.0,2812
41,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2307.0,2395.0,2477.0,2529.0,2576.0,2641.0,2676.0,2711.0,2766.0,2811
42,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23221.0,24202.0,25018.0,26048.0,26848.0,27688.0,28088.0,28683.0,29478.0,30233
43,43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3113.0,3198.0,3293.0,3468.0,3608.0,3713.0,3893.0,3893.0,3893.0,3893
44,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,871.0,880.0,941.0,1003.0,1058.0,1098.0,1168.0,9629.0,9723.0,9796
45,45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,450.0,452.0,452.0,454.0,456.0,458.0,461.0,461.0,461.0,461
46,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,689.0,724.0,774.0,814.0,859.0,914.0,974.0,988.0,1001.0,1010
47,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4896.0,5059.0,5291.0,5513.0,5726.0,6003.0,6179.0,6434.0,6806.0,7075
48,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4403.0,4648.0,4977.0,5328.0,5653.0,5953.0,6328.0,6636.0,6961.0,7270
49,49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,888.0,1108.0,1372.0,1642.0,1907.0,2137.0,2317.0,2595.0,2837.0,3026
50,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1001.0,1238.0,1466.0,1702.0,1915.0,2075.0,2235.0,2541.0,2811.0,2987
51,51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1811.0,1874.0,1937.0,2089.0,2194.0,2319.0,2454.0,2827.0,3043.0,3211
52,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,143.0,220.0,311.0,427.0,577.0,707.0,897.0,1068.0,1254.0,1461
53,53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,253.0,1109.0,1835.0,2513.0,3106.0,354.0,4002.0,4623.0,5369
54,54,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,79.0,126.0,191.0,261.0,376.0,466.0,586.0,721.0,842.0,970
55,55,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,40.0,159.0,208.0,288.0,343.0,433.0,622.0,880.0,1166
56,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,130

In [35]:
X = new_oil_prices_df[['row_num', 'price']]
y = new_electric_car_sales_df

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,)

### Testing Linear Regression Model

In [37]:
X_train = new_oil_prices_df[['row_num', 'price']]
y_test = new_electric_car_sales_df['jan_19']
model = LinearRegression()
model.fit(X_train, y_test)

y_pred = pd.Series(model.predict(X_train), index = X_train.index)

In [38]:
y_pred

335    71129.804579
336    77410.083301
337    71163.223508
338    60851.958491
339    41550.367240
340    41797.467532
341    41516.415772
342    32526.640037
343    19856.908067
344     5357.891513
345     6260.123402
346    15131.078416
347    19347.152433
348    26693.560111
349    27635.910768
350    20165.610624
351    20032.334036
352    19607.338415
353    23090.455887
354    13003.748965
355    26335.716796
356    26863.197055
357    25681.365903
358    18237.351066
359    17801.981293
360    12634.510873
361     4002.325361
362     6005.835648
363     9964.106732
364    16065.267081
365    16744.698692
366    24174.029619
367    25387.501005
368    31935.698047
369    23651.509633
370    23181.794206
371    32158.565507
372    38997.070185
373    32797.172414
374    30838.081853
375    26118.460881
376    35574.386983
377    37631.848015
378     7398.454807
379    -7240.544769
380    -5347.789969
381      932.909819
382     3055.035250
383    10288.779595
384     8741.649911
385    -5391.563593
386    -7614.759538
387   -17857.481509
388   -12919.413811
389   -20071.198828
390   -15634.335354
391   -10147.289957
dtype: float64

In [39]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.32456498245980203

### Feature Engineering

#### In order to see if we can achieve a higher r-squared value we are going to filter out some of the data in the electric car sales dataframe. We also changed the output testing data from January 2019 to December 2018.

In [59]:
feature_electric_car_sales_df = electric_car_sales_df.drop(columns=['make', 'model'], axis =1) 
feature_electric_car_sales_df.head()

,Unnamed: 0,jan_12,feb_12,mar_12,apr_12,may_12,jun_12,jul_12,aug_12,sep_12,...,mar_19,apr_19,may_19,jun_19,jul_19,aug_19,sep_19,oct_19,nov_19,dec_19
0,0,603.0,1626.0,3915.0,5377.0,7057.0,8817.0,10666.0,13497.0,16348.0,...,146667.0,147072.0,14748.0,147813.0,148063.0,148337.0,148687.0,148757.0,148907.0,149057
1,1,0.0,21.0,912.0,2566.0,3652.0,4347.0,5035.0,6082.0,7734.0,...,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345
2,2,676.0,1154.0,1733.0,2103.0,2613.0,3148.0,3543.0,4228.0,5212.0,...,122534.0,123485.0,124701.0,125857.0,126795.0,127912.0,12896.0,129847.0,130987.0,132214
3,3,0.0,0.0,0.0,0.0,0.0,12.0,31.0,74.0,160.0,...,147517.0,148342.0,149367.0,151117.0,152092.0,153142.0,154242.0,154992.0,156492.0,157992
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231

In [64]:
feature_electric_car_sales_df = feature_electric_car_sales_df.drop(feature_electric_car_sales_df.iloc[:,1:2], axis = 1)
feature_electric_car_sales_df.head()

,Unnamed: 0,jul_15,aug_15,sep_15,oct_15,nov_15,dec_15,jan_16,feb_16,mar_16,...,mar_19,apr_19,may_19,jun_19,jul_19,aug_19,sep_19,oct_19,nov_19,dec_19
0,0,72295.0,73675.0,74624.0,76659.0,78639.0,80753.0,81749.0,82875.0,84740.0,...,146667.0,147072.0,14748.0,147813.0,148063.0,148337.0,148687.0,148757.0,148907.0,149057
1,1,41576.0,41920.0,42136.0,42227.0,42271.0,42293.0,42303.0,42309.0,42316.0,...,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345.0,42345
2,2,73619.0,75012.0,76259.0,77497.0,78551.0,79898.0,80653.0,81583.0,82829.0,...,122534.0,123485.0,124701.0,125857.0,126795.0,127912.0,12896.0,129847.0,130987.0,132214
3,3,50189.0,51489.0,53989.0,55889.0,58591.0,62191.0,63041.0,64591.0,68581.0,...,147517.0,148342.0,149367.0,151117.0,152092.0,153142.0,154242.0,154992.0,156492.0,157992
4,4,22197.0,22920.0,23639.0,24334.0,24973.0,25552.0,25902.0,26392.0,27002.0,...,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231.0,42231

In [69]:
X = new_oil_prices_df[['row_num', 'price']]
y = feature_electric_car_sales_df

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,)

In [87]:
X_train = new_oil_prices_df[['row_num', 'price']]
y_test = feature_electric_car_sales_df['dec_18']
model = LinearRegression()
model.fit(X_train, y_test)

y_pred = pd.Series(model.predict(X_train), index = X_train.index)

In [88]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.3291715741052291

### Random Forest Regressor Model using electric car feature data

In [152]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [153]:
electric_car_data_df

,Unnamed: 0,accel_sec,top_speed_kmh,range_km,battery_pack_kwh,efficiency_whkm,fast_charge_kmh,rapid_charge,power_train,plug_type,body_style,price_euro
45,45,7.9,167,365,64.0,175,340,Yes,FWD,Type 2 CCS,SUV,36837
46,46,7.3,150,335,58.0,173,210,Yes,FWD,Type 2 CCS,MPV,41906
47,47,4.0,250,365,71.0,195,730,Yes,AWD,Type 2 CCS,Sedan,102945
48,48,10.0,150,575,60.0,104,540,Yes,AWD,Type 2 CCS,Liftback,149000
49,49,9.0,150,335,63.0,188,350,Yes,FWD,Type 2 CCS,SUV,36057
50,50,5.7,200,365,86.5,237,590,Yes,AWD,Type 2 CCS,SUV,79445
51,51,2.1,410,970,200.0,206,920,Yes,AWD,Type 2 CCS,Cabrio,215000
52,52,8.5,150,255,45.0,176,390,Yes,FWD,Type 2 CCS,SUV,35000
53,53,8.8,160,420,77.0,183,560,Yes,RWD,Type 2 CCS,SUV,40000
54,54,4.6,250,450,90.0,211,490,Yes,AWD,Type 2,SUV,85990
55,55,8.3,145,170,28.5,168,190,Yes,RWD,Type 2 CCS,Hatchback,35921
56,56,8.7,150,250,45.0,180,380,Yes,FWD,Type 2 CCS,SUV,37422
57,57,12.6,135,130,21.3,164,0,No,RWD,Type 2,Hatchback,24790
58,58,9.7,150,250,45.0,180,380,Yes,FWD,Type 2 CCS,SUV,40000
59,59,2.5,261,505,90.0,188,550,Yes,AWD,Type 2,Liftback,96990
60,60,11.4,135,255,41.0,161,230,Yes,FWD,Type 2 CCS,Hatchback,29234
61,61,3.7,241,410,72.5,177,900,Yes,AWD,Type 2 CCS,SUV,65620
62,62,7.6,160,440,87.0,198,520,Yes,FWD,Type 2 CCS,Hatchback,50000
63,63,4.8,200,365,84.7,232,340,Yes,AWD,Type 2 CCS,SUV,75351
64,64,7.0,180,450,88.0,200,430,Yes,RWD,Type 2 CCS,SUV,54475
65,65,4.0,250,425,83.7,197,890,Yes,AWD,Type 2 CCS,Sedan,109302
66,66,14.0,123,190,38.0,200,190,Yes,FWD,Type 1 CHAdeMO,SPV,33246
67,67,5.0,190,460,120.0,261,710,Yes,AWD,Type 2 CCS,Pickup,55000
68,68,22.4,130,160,31.0,194,0,No,FWD,Type 2,SPV,38000
69,69,6.0,180,430,88.0,209,410,Yes,AWD,Type 2 CCS,SUV,62900
70,70,6.9,160,230,37.9,165,260,Yes,RWD,Type 2 CCS,Hatchback,41526
71,71,7.0,160,400,77.0,193,540,Yes,AWD,Type 2 CCS,SUV,45000
72,72,3.5,250,385,83.7,217,770,Yes,AWD,Type 2 CCS,Station,150000
73,73,5.5,190,390,95.0,244,460,Yes,AWD,Type 2 CCS,SUV,64000
74,74,9.0,140,225,35.0,156,270,Yes,FWD,Type 2 CCS,Hatchback,25500
75,75,9.8,155,235,39.0,167,230,Yes,FWD,Type 2 CCS,SUV,34400
76,76,6.3,180,410,77.0,188,550,Yes,AWD,Type 2 CCS,SUV,57500
77,77,12.7,130,95,16.7,176,0,No,RWD,Type 2,Hatchback,22030
78,78,6.0,180,340,88.0,206,360,Yes,AWD,Type 2 CCS,SUV,54000
79,79,3.2,260,390,83.7,215,810,Yes,AWD,Type 2 CCS,Sedan,148301
80,80,7.3,160,340,58.0,171,470,Yes,RWD,Type 2 CCS,Hatchback,38987
81,81,2.8,250,440,90.0,216,480,Yes,AWD,Type 2,SUV,102990
82,82,11.6,130,100,16.7,167,0,No,RWD,Type 2,Hatchback,21387
83,83,6.6,180,360,88.0,194,380,Yes,RWD,Type 2 CCS,SUV,46900
84,84,10.0,140,330,90.0,273,290,Yes,FWD,Type 2 CCS,SPV,70631
85,85,9.0,150,250,37.3,168,330,Yes,FWD,Type 2 CCS,Hatchback,34900
86,86,7.0,180,390,100.0,256,740,Yes,RWD,Type 2 CCS,Pickup,45000
87,87,6.8,190,295,64.7,219,470,Yes,AWD,Type 2 CCS,SUV,69551
88,88,6.2,180,400,77.0,193,540,Yes,AWD,Type 2 CCS,SUV,47500
89,89,9.0,160,320,58.0,181,440,Yes,RWD,Type 2 CCS,SUV,37500
90,90,4.5,210,320,86.5,270,510,Yes,AWD,Type 2 CCS,SUV,93800
91,91,11.9,130,95,16.7,176,0,No,RWD,Type 2,Cabrio,24565
92,92,5.7,200,420,87.0,207,500,Yes,AWD,Type 2 CCS,Hatchback,57500
93,93,9.0,150,250,23.8,168,330,Yes,FWD,Type 2 CCS,Cabrio,37900
94,94,7.3,160,340,58.0,171,470,Yes,RWD,Type 2 CCS,Hatchback,35575
95,95,9.9,157,230,39.0,170,220,Yes,FWD,Type 2 CCS,SUV,33133
96,96,7.5,190,325,72.0,222,420,Yes,RWD,Type 2 CCS,SUV,53500
97,97,7.5,160,330,63.0,191,440,Yes,FWD,Type 2 CCS,Hatchback,45000
98,98,4.5,210,335,86.5,258,540,Yes,AWD,Type 2 CCS,SUV,96050
99,99,5.9,200,325,63.0,194,440,Yes,AWD,Type 2 CCS,Hatchback,50000
100,100,5.1,200,375,87.0,232,450,Yes,AWD,Type 2 CCS,Hatchback,65000
101,101,7.5,190,400,95.0,238,480,Yes,AWD,Type 2 CCS,SUV,62000

In [154]:
electric_car_data_df.shape

(57, 12)

In [196]:
X = electric_car_data_df[['range_km', 'battery_pack_kwh','fast_charge_kmh', 'price_euro']]
y = feature_electric_car_sales_df

In [197]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,)

In [198]:
X_train = electric_car_data_df[['range_km', 'battery_pack_kwh','fast_charge_kmh', 'price_euro']]
y_test = feature_electric_car_sales_df['jan_19']
model = RandomForestRegressor(max_depth=2)
model.fit(X_train,y_test)

RandomForestRegressor(max_depth=2)

In [199]:
y_pred = pd.Series(model.predict(X_train), index = X_train.index)

In [200]:
r2_score(y_test, y_pred)

0.4347680238295377